:root .main-font {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--brand-color);
  --brand-color: #ffffff;
  --btn-bckg-color: #4d5ae5;
}

/* RESET */
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
/* /RESET */

/* COMPONENTS */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.logo-design {
  color: #2e2f42;
}

.logo-design-footer {
  color: #f4f4fd;
}

.container {
  width: 1158px;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  display: flex;
}

.our-team-container {
  width: 1158px;
  height: 732px;
  margin-left: auto;
  margin-right: auto;
}

.sec-pad {
  padding-bottom: 120px;
}

/* /COMPONENTS */

/* HEADER */
.page-header {
  display: flex;
  align-items: center;
  margin-left: 156px;
  margin-right: 156px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-navigation {
  display: flex;
  align-items: center;
  column-gap: 76px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.menu {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  column-gap: 40px;
  gap: 40px;
}

.menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.address-item {
  display: inline-block;
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: auto;
  margin-right: 40px;
}

.tel-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* /HEADER */

/* HERO */

.studio-sec-one {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 1440px;
  height: 600px;
  background: #2e2f42;
  gap: 48px;
  padding: 188px 0;
}

.modal-btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  display: block;
}

.ord-ser-btn {
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--btn-bckg-color);
  cursor: pointer;
}

.ord-ser-btn:hover,
.ord-ser-btn:focus {
  background-color: #404bbf;
}

.port-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #4d5ae5;
  background-color: #f4f4fd;
}

.port-button:hover,
.port-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.hero-item {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  max-width: 496px;
}

.h-sec-two {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
}

.p-sec-two {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* /HERO */

/* OUR WORK */

.section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 188px 0;
}

.our-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.port-gallery {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.port-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* /OUR WORK */

/* OUR TEAM */
.sec-our-team {
  width: 1440px;
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 72px;
}

.h-sec-three {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  background-color: #f4f4fd;
}

.h-our-team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}

.list-color {
  background-color: var(--brand-color);
}
.marc-guerrero {
  background: var(--brand-color);
  background-color: var(--brand-color);
}

.our-team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.h-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.p-our-team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

/* /OUR TEAM */

/* FOOTER */
.foot {
  background: #2e2f42;
}

.info-foot {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* /FOOTER */
